<table id="board">
  <tr *ngFor="let row of board">
    <td
      *ngFor="let cell of row"
      [ngClass]="{
        snake: cell == 1,
        apple: cell == 2
      }"
      class="cell"
    ></td>
  </tr>
</table>
