<div class="modal-header">
  <h4 class="modal-title">Twój wynik: {{ score }}</h4>
</div>
<div class="modal-body">
  <div *ngIf="highscoreModal">
    <p>Pobiłeś rekord! Wpisz się na listę sław:</p>
    <input type="text" placeholder="Nazwa" [(ngModel)]="playerName" />
    <button
      *ngIf="playerName && showButton"
      class="btn btn-lg btn-outline-primary"
      style="margin-left: 5px;"
      (click)="addScore()"
    >
      Zapisz
    </button>
  </div>

  <table style="width: 100%;">
    <th>Nazwa</th>
    <th>Wynik</th>
    <tr *ngFor="let score of scores">
      <td>{{ score.PlayerName }}</td>
      <td>{{ score.Score }}</td>
    </tr>
  </table>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="modal.close()">
    Nowa gra
  </button>
</div>
